
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}
body {
  margin: 0
}
@keyframes Scale {
 
  50%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
  100% {
  
    transform: scale(600%) 
  }
} 